@use "./base/base";
@use "./base/reset";
@use "./global" as *;

// ヘッダー
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: transparent;
}
.header__inner {
  display: flex;
  align-items: center;
  text-align: center;
  height: inherit;
  background-color: rgba($color: #f0f0f0, $alpha: 0.5);
  // padding-left: 22px;
}
.header__name {
  margin-right: 10%;
  margin-left: 20%;
  
}
.header__logo {
  @include mq("lg") {
    width: 132px;
  }
}
.header__nav {
  height: inherit;
}
.header__items {
  display: flex;
  align-items: center;
  height: inherit;
}
.header__item {
  height: inherit;
}
.header__item:not(:first-child) {
  margin-left: 40px;
}
.header__link {
  font-size: 16px;
  font-weight: $medium;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  color: $black;
  font-family:'Noto Serif JP' ;
}
.header__link.header__link--contact {
  padding: 10px 24px;
  border: 1px solid ;
  border-radius: 6px;
  height: 30px;
  margin-top: 20px;
  // display: inline;
  // color: $white;
  // background-color: $brown;
}
.header__item.header__item--icon {
  font-size: 40px;
  position: relative;
  top: 10px;
  right: 0px;
}
.hamburger {
  position: fixed;
  z-index: 9999;
  top: 30px;
  right: 15px;
  width: 25px;
  height: 16px;
  cursor: pointer;
}
.hamburger.is-active {
  top: 32px;
  right: 20px;
}
.hamburger span {
  position: absolute;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: $black;
  transition: 0.3s transform, 0.3s background-color;
  background-color: $black;
}
.hamburger.is-active span {
  background-color: $white;
}
.hamburger span:nth-child(1) {
 top: 0;
}
.hamburger span:nth-child(2) {
 top: 8px;
 transition: 0.3s opacity;
}
.hamburger span:nth-child(3) {
 top: 16px;
}
.hamburger.is-active span:nth-child(1) {
 top: 15px;
 transform: rotate(-45deg);
}
.hamburger.is-active span:nth-child(2) {
 opacity: 0;
}
.hamburger.is-active span:nth-child(3) {
 top: 15px;
 transform: rotate(45deg);
}
// ドロワー
.drawer-menu {
  position: absolute;
  z-index: 5000;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.drawer-menu__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;

}
.drawer-menu__items {
display: flex;
align-items: center;
flex-direction: column;
}
.drawer-menu__item {
  display: inline-block;
}
.drawer-menu__item:not(:first-child) {
  margin-top: 25px;
}
.drawer-menu__link {
  font-size: 16px;
  font-weight: $medium;
  display: inline-block;
  width: 200px;
  padding-bottom: 25px;
letter-spacing: 0.05em;
text-align: center;
color: $white;
border-bottom: 1px solid $gray;
}
.drawer-menu__link:not(:last-child) {
  border-bottom: 0;
}
.drawer-menu__link.drawer-menu__link--contact {
  padding: 14px 14px;
  transition: 0.3s background-color;
  background-color: $brown;
  border-radius: 6px;
  &:hover {
    opacity: 1;
    background-color: $brown2;
  }
}
// mv
.mv {
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}
.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}
.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;

}
.swiper-slide img {
  object-fit: cover;
}
.mv__title-wrap {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-10%,-50%);
  width: 100%;
}
.mv__title {
font-size: 38px;
letter-spacing: 0.05em;
line-height: 1.53;
font-weight: $medium;
color: $white;
font-family: 'Noto Serif JP';
@include mq("md"){
font-size: 28px;
line-height: 1.429;
}
}
.mv__title-sub {
  margin-top: 18px;
  @include mq("md"){
    margin-top: 10px;
  }
}
// about
.about {
  margin: 100px;
}

.about__inner {
  display: flex;
  width: 100%;
}
.about__image1 {
  background-image: url(/website/images/about1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 60%;
  height: 40vh;
}
.about__wrap {
  margin-left: 50px;
  width: 100%;
}
.about__title {
  margin-bottom: 30px;
}
.about__text {
  width: 100%;
  margin: 40px 0;
  line-height:1.17;
}
.about__next-page a{
color: $black;
}
.about__next-page.next-page {
  position: relative;
  margin: 100px 0 30px 50px;
}

.stick-arrow {
  width: 40px;
  height: 8px;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  transform: skew(45deg);
  margin-left: 50%;
}
// .about__next-page::after {
//   content: "";
//   width: 40px;
//   height: 8px;
//   border-bottom: 1px solid #000;
//   border-right: 1px solid #000;
//   transform: skew(45deg);
// }
.about__img--small {
display: flex;
gap: 20px;
}
.about__image2 {
  background-image: url(/website/images/about2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 12vh;
}
.about__image3 {
  background-image: url(/website/images/about3.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  width: 40%;
  height: 12vh;
}
.news__inner {
  display: flex;
  background-color: $brown1;
width: 100%;
margin: 0 auto;
}

.section-title {
text-align: center;
display: block;
margin: 30px;
// padding: 50px;

}
.news__inner--left {
  position: relative;
  // margin: 30px 0;
width: 100%;

}
.next-page {
  position: absolute;

}

.news__inner--left::after {
  content: "";
  border: 1px solid $white;
  display: inline-block;
  position: absolute;
width: 2px;
height: 330px;
top: 50px;
right: 20px;
}
.news__items {
  margin: 30px 0;

}
.news__inner--right {
  padding: 20px;
  width: 100%;
}
.news__contents {
  display: flex;
  // justify-content: center;
  
}
.news__contents img {
  width: 30%;
  margin-bottom: 20px;

}
.news__content {
  margin-left: 20px;
}
.news__date {
  display: flex;
  color: $gray;
}

// service
.service {
  background-color: $brown1;
margin: 150px 0;
height: 100vh;
}
.service__inner {
  padding-top: 100px;
  margin: 50px auto;
  position: relative;
}
.service__title {
  padding-top: 50px;
}
.service__cards {
  display: flex;
  justify-content: center;

}
.service__inner::after {
  content: "";
  position: absolute;
  background-color: $gray;
  width: 100%;
  height: 60%;
  top: 180px;
  left: 0;
  
}

.service__card {
  background-color: #fff;
  margin: 30px;
  width: 100%;
z-index: 20;
}




























// 共通パーツ
.inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 25px;
  @include mq("md"){
  padding: 0 15px;
  }
}
.section-title__main {
font-size: 36px;
font-weight: $medium;
letter-spacing: 0.05em;
line-height: 1.4;
}
.section-title__sub {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: $brown;
  margin-top: 3px;
  @include mq("md"){
  font-size: 10px; 
  }
}
.section-title.section-title--center {
  text-align: center;
  @include mq("md"){
    text-align: left;
  }
}
.text.text--large {
  font-weight: $medium;
  font-size: 22px;
  line-height: 1.72;
  letter-spacing: 0.05em;
  @include mq("md"){
    line-height: 1.77;
  }
}
.text {
  font-weight: $regular;
  font-size: 15px;
  line-height: 1.866;
  letter-spacing: 0.05em;
  @include mq("md"){
    line-height: 1.857;
  }
}

.next-page a{
  font-size: 16px;
  color: $black;
  width: 340px;
  display: inline-block;
  padding: 15px 15px;
  transition: 0.3s ;
  &:hover {
    letter-spacing: 0.22em;
  }
}

.md-none {
  @include mq("md") {
    display: none;
  }
}
.md-show {
  display: none;
  @include mq("md") {
    display: block;
  }
}
