
html{
  overflow: auto;
  font-size: 100%;

  font-family: 'Noto Sans JP', sans-serif, 'Poppins',  sans-serif;
  color: #333;
  max-width: 100%;
}
body {
  font-weight: 300;
  width: 100%;
  background-color: rgba(255, 243, 230, 100);
}
ul {
  display: block;
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
  position: relative;
}

span {
  display: block;
}

/* header */
.header {
  display: flex;
}
.header-nav {
  text-align: center;
  /* position: absolute; */
}
.header ul {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 10px;
  right: 0;
  margin: 1.5rem 70px;

}
.header li {
  padding: 0 30px;
}
.header a::after, 
.footer a::after {
  content: "";
  width: 0;
  cursor: pointer;
}

.header a:hover::after,
.footer a:hover::after {
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  height: 1px;
  transition: width 0.3s;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: width;
  background-color: #070707;
}

.logo  {
margin: 3rem 0 0 3rem;
}
.logo img {
  width: 85%;
}
/* .logo::before {
content: "";
display: block;
padding-top: 100%;
} */


.suv-title-container {
  display: flex;
  flex-direction: column;
  padding: 20px 50px ;
  margin: 20px;
}
.suv-title-container img {
  width: 200px;
}
.suv-title2 {
padding: 10px 40px;
}
.suv-title3 {
  padding-left: 80px;
}
/* mainvisual */
.mainvisual {
  display: flex;
  justify-content: center;
}
.mv-container {
  margin: 0 auto;
}
.main-img1{
  background-image: url(./img2/Rectangle\ 50mv2\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px auto;
  width: 350px;
  height: 650px;

}

.main-img2 {
  background-image: url(./img2/IMG_1737\ 2mv1\ \(1\).jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  display: inline-block;
  width: 350px;
  height: 650px;
  margin: 80px  10px 0 10px;
  padding: 0;
}
  
.main-title img{
  margin-top: 50px;
  width: 350px;
}


.sidebar {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  
} 

.side-btn {
  position: absolute;
  top: 20px;
  left: 45px;
  font-size: 0.7rem;
  cursor: pointer;
}
.hbg-btn {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 5px;
  cursor: pointer;
}
.hbg-btn span {
  background-color: #333;
  height: 2px;
  width: 100%;
  position: absolute;
  transition: all 0.3s;
}
.hbg-btn span:first-of-type {
  top: 0px;
}
.hbg-btn span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hbg-btn span:last-of-type {
  bottom: 0;
}
.hbg-btn.active > span:first-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  z-index: 9999;
  background-color: #03440c;
}
.hbg-btn.active > span:nth-of-type(2) {
  display: none;
}
.hbg-btn.active > span:last-of-type {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  z-index: 9999;
  background-color: #03440c;
}
.slide-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
  align-items: center;
  justify-content: center;
  padding: 8px;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
  border: 1px solid #ccc;
  opacity: 0.1;
}
.slide-menu ul {
  margin: 40px 10px;
  text-align: center;
}
.slide-menu li {
  border-bottom: solid 2px #333;
  width: 80px;
  margin: 30px ;
  font-size: 20px;
}
.slide-menu.active {
  display: flex;
  animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
  0% {
    top: 45%;
    opacity: 0;
  }

  100% {
    top: 50%;
    opacity: 1;
  }
}
.icon-btn {
  position: absolute;
  top: 100px;
  left: 35px;
}
.icon-btn i{
  font-size: 20px;
  display: flex;
  text-align: center;
  padding: 10px;
  color: #333;
  cursor: pointer;
}
.scroll {
  display: inline-block;
  position: relative;
  bottom: -100px;
  color: #333;
  letter-spacing: 0.2rem;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  /* overflow: hidden; */
  writing-mode:vertical-lr;
  font-size: 0.75rem;
  z-index: 9;
}
.scroll::after {
  position: absolute;
  /* top: 0px; */
  bottom: -80px;
  left: 50%;
  width: 1px;
  background-color: rgb(12, 11, 11);
  height: 80px;
  content: "";
  animation: scrollDownLine 1.5s infinite;
}
@keyframes scrollDownLine {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  50.1% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}
.about-section {
  display: flex;
  margin: 60px 30px;
  width: 100%;
  justify-content: center;
}
.about-inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin: 0px 40px ; */
  background-image: url(./img2/Ellipse\ 8サークル.png);
  background-size:  500px 400px;
  background-repeat: no-repeat;
  /* z-index: -10; */
}
.section-title {
  background-image: url(./img2/Rectangle\ 59.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 120px;
  display: block;
  position: relative;
}
.section-title h2 {
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 2rem;
  margin-bottom: 5px;
}
.section-title span {
  position: absolute;
top: 70px;
left: 20px;
}
.p-section {
  width: 350px;
  line-height: 2;
  margin: 20px 70px 20px 50px;
}
.about-section img {
width: 300px;
height: 400px;
}

.m-btn  {
  display: flex;
  position: relative;
  top: 60px;
  left: 200px;
  width: 150px;
  padding: 18px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  margin: 40px ;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
.m-btn i {
  position: relative;
  top: 0;
  left: 10px;
}
.m-btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}
.news-section {
  background-image: url(./img2/Rectangle\ 57背景２.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  display: flex;
}
.news-inner {
  
}
.news-section .section-title {
  margin: 40px;
}

.news-list {
  display: flex;
  justify-content: space-between;
  margin: 30px 50px;
align-items: center;
}

.news-item  {
  content: "";
  max-width: 200px;
  height: 80px;
  border-left: solid 1px #333;
  padding: 0 50px;
}
.news-item:last-of-type {
  content: "";
  height: 80px;
  border-right: solid 1px #333;
}
.news-item span {
  padding: 20px 0;
}
.news-section .m-btn {
margin: 0 auto;

}

.works {
  margin: 60px 0;
}
.works .section-title {
  margin: 0 auto;
}
.works-container {
  max-width:  100%;
  
}

.works-inner {
  display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 60px auto 0 auto;
padding: 0 60px;
max-width: 1300px;
}
.works-item {
  width:300px;
}

  .works-item .card {
      box-shadow:0px 2px 5px rgba(0, 0, 0, 0.3);
      padding:30px 60px;
      width: 220px;
      height: 400px;
      background-color:#fff;
      cursor:pointer;
      margin: 20px;
  }

      .works-item .card a {
        margin:-10px -10px 0;
        overflow:hidden;
        position:relative;
        
      }
      
          .works-item .card a img {
            transition:transform 0.3s;
            filter:saturate(0);
            transition:filter 0.3s;
          }
          .works-item .card:hover a img {
            transform:scale(1.2);
            filter:saturate(100%);
        }

      .works-item .card .works-text {
          margin:10px 0 0;
          padding: 0 20px;
      }


.works-item h3 {
  text-align: center;
  padding: 0;
  margin: 10px;
}
.works-text p {
  width: 200px;
  text-align: center;
}
.works .m-btn {
  margin: 0  auto;

}

.contact {
  background-image: url(./img2/Rectangle\ 57背景２.png);

}
.contact-inner {
  padding: 20px;
  margin: 20px;
}
.contact .section-title {
  margin: 30px auto;
}
.contact p {
  width: 300px;
  text-align: center;
  margin: 30px auto;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  margin: 80px 120px 0;
}
.contact-form {
  margin: 50px 100px;
}
dl {
  display: flex;
  flex-wrap: wrap;
}
dl dt {
  width: 50%;
}
dl dd {
  width: 60%;
}
button {
  width: 100px;
  padding: 8px;
  border-radius: 20px;
  border: 2px solid #ccc;
  background: #f1e767;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(top, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
  -webkit-box-shadow: inset 1px 1px 1px #fff;
  box-shadow: inset 1px 1px 1px #fff;
  margin-left: 50px ;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
}
button i {
  position: relative;
  top: 0;
  left: 0px;
}
button:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(#fdfbfb), to(#ebedee));
  background: -webkit-linear-gradient(bottom, #fdfbfb 0%, #ebedee 100%);
  background: linear-gradient(to top, #fdfbfb 0%, #ebedee 100%);
}


.footer {
  width: 100%;
  background: linear-gradient(135deg, rgb(129, 124, 124), rgb(144, 141, 141),#fff);
  margin: 0;
}

.footer ul{
  width: 100%;
 display: flex;
 justify-content: space-around;
 padding: 50px  ;
 margin: 0;
}
.footer li {
  padding: 20px auto;
}
.footer a {
  color: #fff;
}
.info {
  margin-left: 5rem;
}

.copy-right p{
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 0;
  font-size: 0.85rem;
}
.page-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  display: none;
}
.page-top-link {
  display: block;
  width: 30px;
  height: 30px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  color: #391e88;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
}
@media screen and (max-width: 750px){
  
}