html{
  overflow: auto;
  font-size: 100%;
}
body{
  font-weight: 300px;
  max-width: 100%;
  color: #333;
}
ul{
  display: block;
  list-style: none;
}
a{
  transition: .5s;
  text-decoration: none;
  color: #fff;
  
}


.link::after{
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 0;
  display: block;
  width: 0;
  height: 1px;
  content: '';
  transition:  width 0.3s;
  transition-behavior: normal;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: width;
  background-color: #fff;
}

/* header */
header{
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
 color: #ffffff;
}
.site-ttl{
  font-size: 20px;
}
.header-menu{
  display: flex;
  gap: 0 15px;
  color: #fff;
}
.menu-list{
  display: flex;
}
.list{
  margin: 0 8px;
}

.mainvisual{
background-image: url(../img2/alexandre-guimont-S9miGKjxmb4-unsplash.jpg);
height: 50rem;
background-repeat: no-repeat;
background-size: cover;
position: relative;
color: #fff;
max-width: 100%;
}
.main-ttl{
  position: absolute;
  top: 12rem;
  left: 10rem;
  text-align: center;
}
.main-ttl>h1{
  font-weight: bold;
  font-size: 45rem;
}
.c-btn{
  display: block;
  margin: 90px auto;
  text-align: center;
  color: #fff;
  position: relative;
}
.c-btn::after{
  content: '▶︎';
   
}
